<div class="no-questions">
    <img src="/images/noquestions.svg" alt="Nenhuma Pergunta por aqui">
    <h6>Nenhuma pergunta por aqui...</h6>
    <p>Faça sua primeira pergunta e envie o <br> código dessa sala para outras pessoas!</p>
</div>